BasedOnStyle: Google
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: true
AccessModifierOffset: -2