BasedOnStyle: Google
ColumnLimit: 110
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: true
