[submodule "Heap-Layers"]
	path = impl/Heap-Layers
	url = https://github.com/emeryberger/Heap-Layers
[submodule "impl/vendor/gflags"]
	path = impl/vendor/gflags
	url = https://github.com/gflags/gflags.git
[submodule "impl/vendor/googletest"]
	path = impl/vendor/googletest
	url = https://github.com/google/googletest.git
