*~
*.d
*.dylib
*.o
*.so
*.pyc
TAGS
/src/config.h
/src/test/fork-example
/src/test/thread-example
/unit.test
/meshing-benchmark
config.mk
/build
/doc
/fragmenter
/theory/env
/frag.pdf
/data
/paper/latex.out/
/paper/mesh.pdf
__pycache__
/perf.data
/perf.data.old
/src/test/local-alloc
/src/test/local-alloc-glibc
/src/test/big-alloc
/src/test/big-alloc-glibc
/src/test/big-alloc-hoard
/src/test/local-alloc-hoard
/src/test/local-alloc-tcmalloc
/src/test/local-alloc-jemalloc
/src/test/local-alloc-mesh
/src/test/global-large-stress
/test/docker/*/mstatgcc
/test/docker/*/mstat
/test/spec/data
/coverage
/src/test/larson-mesh
/src/test/larson-glibc
/src/test/larson-tcmalloc
/src/test/larson-hoard
/.idea
/.clwb
/cmake-build*
/cmake-cache/
/bazel-bin
/bazel-genfiles
/bazel-mesh
/bazel-out
/bazel-testlogs
