[submodule "Heap-Layers"]
	path = src/vendor/Heap-Layers
	url = https://github.com/bpowers/Heap-Layers
[submodule "src/vendor/gflags"]
	path = src/vendor/gflags
	url = https://github.com/gflags/gflags.git
[submodule "src/vendor/googletest"]
	path = src/vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "test/atsy/atsy"]
	path = test/atsy/atsy
	url = https://github.com/bpowers/atsy
